{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}实验要求与报酬{{ endblock }}


{{ block content }}


<p>欢迎大家参加本次经济学实验。请大家认真阅读下文，并根据实验人员的指令进行下一步行动。</p>

<p>如果你带有手机等通讯工具，请马上予以关闭。<b>我们要求你在本次实验全程保持安静，且不要与其他的参与者相互交流。</b>
    如果你遇到任何问题，请举手示意，我们的实验人员会来到你面前为你解答，请不要询问你身边的其他参与者。</p>

<p>违反上述要求者将立即被终止实验，且得不到实验报酬。</p>


<p>
    <b>本实验包含4个经济决策任务，大部分任务都很简单，每个任务开始前会有详细说明和指引。</b>
    根据你在任务中的表现，会获得不同数量的代币。当你完成本实验的全部任务，计算机将随机选择其中两个任务，
    将你在该实验任务中的代币收益总和作为你在本实验的最终报酬。
    在实验结束后，我们会按照<b>【10代币=1元人民币】</b>的比率，将你手中所有的实验币兑换成人民币支付给你。
</p>


<p>你有权在实验中退出实验，但我们希望你能完成实验全程。</p>



{{ endblock }}
