{% extends "global/Page.html" %}
{{ block title }}
    任务二讲解
{{ endblock }}
{{ block content }}


<p>在任务二中，你将进行10轮决策，每一轮将有另一名参与者与你随机配对，因此你每一轮的配对者是不同的。</p>
<p>在每一轮决策中，计算机会随机确定你担任“提议者”或“回应者”角色。</p>
<p>每一轮决策有两个阶段：</p>
<p>第一阶段，提议者和回应者需要在两个分配方案之间做出选择，两个方案带给各方的收益各不相同。首先，提议者在两个分配方案中选择一个；然后，由回应者决定接受或拒绝该提案。若接受，则按照提案确定双方在该轮的收益；若拒绝，则按照提议者未选择的另一个方案确定双方在该轮的收益。</p>
<p>以下表为例，两个分配方案中，方案A的总收益300代币大于方案B的200代币。若提议者选择方案A，回应者接受，则按照方案A确定双方的收益，即提议者获得200代币，回应者获得100代币；若提议者选择方案A，回应者拒绝，则按方案B确定收益，即提议者和回应者各为100代币。</p>

<table class = 'table table-bordered table-hover table-condensed'>
<thead>
  <tr>
    <th>选择</th>
    <th>◯ 方案A</th>
    <th>◯ 方案B</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>提议者收益</td>
    <td>200</td>
    <td>100</td>
  </tr>
  <tr>
    <td>回应者收益</td>
    <td>100</td>
    <td>100</td>
  </tr>
  <tr>
    <td>总收益</td>
    <td>300</td>
    <td>200</td>
  </tr>
</tbody>
</table>


<p>第二阶段，由提议者进行决策。提议者可以将自己的收益转移一部分给回应者，转移的收益可以为0或任何正数，完全根据提议者的自愿。（回应者在本阶段不做决策，只能接受提议者的决策。）</p>

{{if player.treatment == 'cue'}}
<p>注：方案A是更有效率的方案，也就是它可以令双方的总收益更大。如果双方在第一阶段选择/同意方案A，同时在第二阶段由收益较高一方给予较低一方足够补偿，那么双方处境都会变得更好，都可以获得比B方案更高的收益。</p>
<p>因此，建议你们在第一阶段选择/同意方案A，并在第二阶段由收益较高一方对较低一方给予一定补偿。不过，此建议并非强制，你们在第一阶段有权做任何选择，第二阶段收益较高一方决定是否补偿以及补偿多少也全凭其自愿。</p>
{{endif}}

<p>每一轮决策结束后，将公布该轮决策结果和各方收益。然后，计算机将为你重新匹配一名新的参与者，开始下一轮决策。</p>
<p>全部实验任务完成后，计算机将从所有轮次决策中随机抽选2轮，根据你在这2轮中的平均收益兑现真实货币报酬。</p>

<p>现在，请有问题的同学举手示意，实验人员将到你面前解答。若没有问题，请点击下一页进入测试环节。</p>

    {{ next_button }}


{{ endblock }}
