{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_styles  %}

<style>
    p {
        text-indent: 2em;
        /*padding: 20px;*/
        /*margin: 20px;*/
    }
</style>

{% endblock %}

{% block global_scripts  %}

<script type="text/javascript" async
        src="https://cdn.bootcdn.net/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
   MathJax.Hub.Config({
     extensions: ["tex2jax.js"],
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
       processEscapes: true
     },
     "HTML-CSS": { availableFonts: ["TeX"] },
     messageStyle: "none"
   });

</script>

<script>
//    window.oncontextmenu=function(e){
    //取消默认的浏览器自带右键 很重要！！
//    e.preventDefault();
//}
</script>


{% endblock %}